<div>
            <div class="a" align="center">-PORTFOLIO-</div>

    <ul class="info">
        {{#with myData.aboutme}}
    <body class="b">
    <div class="row">
      <div class="col-lg-2 "></div>

      <div class="col-lg-3 ColContentSetting">
        <img class="img1" src="/2.jpg" />
      </div>
      <div class="col-lg-7-10 ColContentSetting">
        <div class="container">
        <div class="a">-INFO-</div>
       
        <span><b> Name :</b> {{Fullname}} </span></br>
        <span><b> Nickname :</b> First  </span>
        <br>
       <span>  <b> Birthday :</b> 12/08/1999 </span>
               <span><b> Age :</b> 21 YEAR OLD </span><br>
            <span><b> Height :</b> 178 cm </span>                           
             <span><b> Weight :</b> 50 kg </span><br>
    <span><b> Blood Type:</b> O </span>  <span><b> Gender:</b> Male </span><br>
    <span><b> Nationality:</b> Thai </span>  <span><b> Religion:</b> Buddhsim </span><br>
        <span><b>Address:</b> {{Address}} </span>  <br>
<h1></h1>
</div>




      </div>
           

    </div></br>
    <div class="row">
            <div class="col-2"></div>
            <div class="col-3-">

      <div class="container">
         <div class="a">--EDUCATIONAL HISTORY--</div>
       
        <span><b>elementary school :</b> Nekkammaram School</span>  <br>
        <span><b>elementary school :</b> Nekkamwittaya School</span>  <br>
       
        <div class="a">--CONTACT INFORMATION--</div>
 
        <span><b>Face Book :</b> Chaleomrat Phromsaart</span>  <br>
        <span><b>TEL :</b> {{Phone}}</span>  <br>
                <span><b>Line :</b> haisesasaki03</span>  <br>
                <span><b>Instagram :</b> haisesasaki03</span>  <br>
                <span><b>Email :</b><a href="mailto:{{Email}}">{{Email}}</a></span>  <br>



<h1></h1>
      </div>
</div>
<div class="col-4">
          <img class="img2" src="/1..jpg" />

</div>
    </div>
    <div class="container col-lg-6 col-lg-offset-4 m-t-0">
            <h1 align="center" class="a">-SKILL BAR-</h1>
  <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-11 col-lg-offset-1">
          <div id="skill-bar-wrapper">
            <div class="text-left">

              <!-- C++ -->
              C++<span style="float:right;">50%</span>
              <div class="skillbar-container clearfix" data-percent="50%">
                <div class="skills" style="background: white;"></div>
              </div>

              <!-- Fortran -->
              PHP<span style="float:right;">80%</span>
              <div class="skillbar-container clearfix" data-percent="80%">
                <div class="skills" style="background: white;"></div>
              </div>

              <!-- Java -->
              Java<span style="float:right;">45%</span>
              <div class="skillbar-container clearfix" data-percent="45%">
                <div class="skills" style="background: white;"></div>
              </div>

            
              <!-- HTML -->
              HTML<span style="float:right;">80%</span>
              <div class="skillbar-container clearfix" data-percent="80%">
                <div class="skills" style="background: white;"></div>
              </div>

              <!-- JavaScript -->
              JavaScript<span style="float:right;">45%</span>
              <div class="skillbar-container clearfix" data-percent="45%">
                <div class="skills" style="background: white;"></div>
              </div>

              <!-- jQuery -->
              jQuery<span style="float:right;">50%</span>
              <div class="skillbar-container clearfix" data-percent="50%">
                <div class="skills" style="background: white;"></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
 
     </div>
     
 
        {{!-- <li><span class="first-block">Full Name:</span><span class="second-block">{{Fullname}}</span></li>
                <li><span class="first-block">Phone:</span><span class="second-block">{{Phone}}</span></li>
                        <li><span class="first-block">Email :</span><span class="second-block"><a href="mailto:{{Email}}">{{Email}}</a></span></li>
                        <li><span class="first-block">Website :</span><span class="second-block"><a href="{{Website}}">{{Website}}</a></span></li>
                <li><span class="first-block">Address:</span><span class="second-block">{{Address}}</span></li> --}}


        {{/with}}
    </ul>
</div>